# KiCad files
hardware/**/*-bak
hardware/**/*-backups
hardware/**/*-cache*
hardware/**/*-bak*
hardware/**/*_autosave*
hardware/**/\#auto_saved_files\#

# CMake files
src/**/build

# Eclipse files
src/**/.metadata/
src/**/RemoteSystemsTempFiles/
src/**/.settings/
src/**/Debug/
src/**/*.launch
**/.metadata

# VSCode
**/.vscode/
**/STM32-for-VSCode.config.yaml
**/STM32Make.make
**/openocd.cfg

**/.mxproject
